[submodule "resources"]
	path = resources
	url = https://github.com/As-hina-Gaming/Ampi-lution-Resources.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/As-hina-Gaming/Ampi-lution-Scripts.git
[submodule "config"]
	path = config
	url = https://github.com/As-hina-Gaming/Ampi-lution-Config.git
