[submodule "resources"]
	path = resources
	url = git@github.com:EraTiem-Network/Ampi-lution-Resources.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:EraTiem-Network/Ampi-lution-Scripts.git
[submodule "config"]
	path = config
	url = git@github.com:EraTiem-Network/Ampi-lution-Config.git
